html, body {
	margin: 0;
	padding: 0;
}

body {
	/*padding: 0.5em;*/
}

body > .wrapper {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: center;
}

header {
	width: 21.5em;
	height: 100vh;
	flex-shrink: 0;
	z-index: 2;
	left: 0;
	transition: left 0.4s ease-in-out;
	background-color: white;
}

header > .wrapper {
	padding-right: 3em;
	padding-left: 3em;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
    max-height: 690px;
    z-index: 3;
}

header nav ul {
    padding-inline-start: 0em;
}

section.main {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	margin-bottom: 3em;
	max-width: calc(3*400px + 2*3em);
	width: 100%;
	margin-top: 1.5em;
}

section.main > article {
	position: relative;
	padding: 5px 5px calc(100% - 15px) 5px;
	height: 0;
	border: 5px solid #e0e0e0;
	border-color: rgba(80,80,80,0);
	transition: border-color 0.4s ease-in-out;
}

section.main > article.selected {
	border-color: rgba(80,80,80,1);
}

section.main > article .wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 0;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #F2F2F2;
	transition: opacity 0.4s ease-in-out;
}

section.main > article .wrapper.title p, section.main > article .wrapper.title h3 {
	cursor: text;
	margin: 0;
}

section.main > article .wrapper.linkTitle h3 {
	margin: 0;
}

section.main > article .wrapper.title, section.main > article .wrapper.linkTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
}

section.main > article .wrapper.texte p {
	cursor: text;
	margin: 0;
}

section.main > article .wrapper.texte {
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 2em;
    overflow: auto;
}

section.main > article .wrapper.active {
	opacity: 1;
	z-index: 1;
}

section.main > article .meta {
	position: relative;
	z-index: 5;
	background-color: rgba(255,255,255,0.9);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

section.main > article .meta a {
	font-size: 16px;
	margin: 0;
	padding: 0.5em;
}


img {
	width: 100%;
}

.menu-opener {
	display: none;
	position: fixed;
	background-color: #f8f8f8;
	right: 0;
	top: 0;
	padding: 1em;
	border-bottom-left-radius: 50%;
	cursor: pointer;
	z-index: 3;
	text-align: center;
}

.menu-opener:before {
	content: '\2192';
	margin-bottom: 3rem;
	font-family: Nunito;
	font-size: 1.6em;
	line-height: 3rem;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0em;
	text-decoration: none;
	color: black;
	width: 100%;
	font-size: 1.6em;
}

header.open .menu-opener:before {
	content: '\2190';
}

@media screen and (max-width: 917px) {
	section.main {
		display: flex;
		flex-direction: column;
		max-width: 100vh;
	}

	section.main > article {
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 685px) {
	header {
		position: fixed;
		left: -26em;
		top: 0;
		border-right: 1px solid #f2f2f2;
	}

	header.open {
		left: 0em;
	}

	.menu-opener {
		display: block;
	}

	.menu-opener p {
		padding: 0;
		margin: 0;
	}
}

.login {
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: center;
}

.login input {
	display: block;
	margin: 1em auto;
}



/**************************\
  Basic Modal Styles
\**************************/

.modal {
	z-index: 50;
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__container {
	background-color: #fff;
	padding: 30px;
	max-width: 500px;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box;
}

.large.modal__container {
	max-width: 50vw;
	width: 100%;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
	line-height: 1.25;
	color: #00449e;
	box-sizing: border-box;
}

.modal__close {
	background: transparent;
	border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
}

.modal__btn {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	background-color: #e6e6e6;
	color: rgba(0,0,0,.8);
	border-radius: .25rem;
	border-style: none;
	border-width: 0;
	cursor: pointer;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out,-webkit-transform .25s ease-out;
	transition: filter .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
	filter: grayscale(50%);
}

.modal__btn-primary {
	background-color: #00449e;
	color: #fff;
}

.modal__btn-danger {
	background-color: #cd4236;
	color: #fff;
}



/**************************\
Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes mmfadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes mmslideIn {
	from { transform: translateY(15%); }
	to { transform: translateY(0); }
}

@keyframes mmslideOut {
	from { transform: translateY(0); }
	to { transform: translateY(-10%); }
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}

.data-bloc {
	display: none;
}

.data-bloc.selected {
	display: block;
}