{% extends "layout.html.twig" %}

{% block body %}
	<header>
		<div class="menu-opener" onClick="toggleMenu();">
			<p>M<br/>e<br/>n<br/>u</p>
		</div>
		<div class="wrapper">
				<p>
					<a class="logo" href="{{ path_for('home') }}">
						Minimal admin / CMS
					</a><br/><strong>FRONT</strong>
				</p>
			<nav>
				<ul>
					{% for page in pages %}
						<li class="{% if pageActive.slug == page.slug %}active{% endif %}"><p><a href="{{ path_for('page', {'page': page.slug}) }}">{{page.name}}</a></p></li>
					{% endfor %}
				</ul>
			</nav>
			<div class="push"></div>
		</div>
	</header>

	<section class="main">
		{% for section in pageActive.sections %}
			<article id="{{section.slug}}">
				{% for index, bloc in section.blocks %}
					<div class="wrapper {{bloc.type}}{% if(index == 0) %} active{% endif %}">
						{% if bloc.type == 'image' %}
							<img src="{{bloc.image}}"/>
						{% elseif bloc.type == 'title' %}
							<h3>{{bloc.title}}</h3>
						{% elseif bloc.type == 'linkTitle' %}
							<a target="{% if bloc.external > 0 %}_blank{% else %}_self{% endif %}" href="{{bloc.link}}"><h3>{{bloc.link_title}}</h3></a>
						{% elseif bloc.type == 'texte' %}
							{{bloc.content|raw}}
						{% endif %}
					</div>
				{% endfor %}
			</article>
		{% endfor %}
		{% if pageActive.sections|length < 3 %}
				<article>
					<div class="wrapper">
					</div>
				</article>
				<article>
					<div class="wrapper">
					</div>
				</article>
			{% endif %}
	</section>
{% endblock %}

{% block scripts %}
	<script>
	var toggleMenu = function() {
		var header = document.querySelector('body > .wrapper > header');
		if (header.classList.contains('open')) {
			header.classList.remove('open');
		} else {
			header.classList.add('open');
		}
	};
	if (document && document.location && document.location.hash) {
		var selected = document.querySelector('article[id="'+document.location.hash.substr(1)+'"]');
		if (selected) {
			selected.classList.add('selected');
		}
	}

	document.querySelectorAll('section.main > article > .wrapper').forEach(function(element) {
		element.onclick = function(event) {

			document.querySelectorAll('section.main > article').forEach(function(element) {
				element.classList.remove('selected');
			});
			this.parentElement.classList.add('selected');

			if ((event.target.tagName == 'A') || (event.target.tagName == 'a')) {
				return true;
			}
			if ((event.target.tagName == 'P') || (event.target.tagName == 'p')) {
				return true;
			}
			if ((event.target.tagName == 'h1') || (event.target.tagName == 'H1')) {
				return true;
			}
			if ((event.target.tagName == 'h2') || (event.target.tagName == 'H2')) {
				return true;
			}
			if ((event.target.tagName == 'h3') || (event.target.tagName == 'H3')) {
				return true;
			}
			var brother = this.nextElementSibling;
			if (!brother) {
				brother = this.parentElement.firstElementChild;
			}
			if (this == brother) {
				return true;
			}
			this.classList.remove('active');
			brother.classList.add('active');
		}
	});
	</script>
{% endblock %}
